$font-primary: #70beca
$font-secondary: #d29b62
$outside-border: 6px solid $font-secondary
*
  margin: 0
  padding: 0
.wrapper
  font-family: Roboto, sans-serif
  width: 100vw
  height: 100%
  min-height: 100vh
  padding: 1rem
  background-color: #333945
  color: $font-primary
  font-size: 16px
.heading
  color: $font-secondary
  text-align: center
  margin: 1rem auto
  &__h2
    align-self: flex-start
    justify-self: flex-start

.register
  &__container
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    padding: 3rem 1rem
    width: 500px
    margin: 2rem auto
    border: 1px solid $font-secondary
    &::after
      content: ''
      position: absolute
      top: -.5rem
      right: -.5rem
      width: 534px
      height: 414px
      outline: 1px solid $font-primary
      z-index: 1
  &__label
    display: flex
    align-items: center
    padding: .5rem
    z-index: 2
  &__span
    display: block
    width: 120px
    padding: 0 1rem 0 0
  &__input
    font-size: 1rem
    padding: .5rem 1rem
    border: 3px solid $font-secondary
    border-radius: .75rem
    background: #333945
    color: #b9c5d7
    &:focus
      outline: none
  &__btn
    margin: 1rem 2rem
    z-index: 2
    width: 180px
    height: 60px
    background: #333945
    border: 3px solid #f67670
    color: #fff
    text-align: center
    font-size: 1.2rem
    text-transform: uppercase
    &:focus
      outline: none
      border: 3px solid #ff8484
    &:hover
      outline: 1px solid $font-secondary
      border: 3px solid #ff8484
.btn__container
  display: flex
.why
  display: block
  width: calc(100vw - 2rem)
  border-color: $font-secondary
  position: absolute
  &__hr-right
    right: 0
  &__hr-left
    left: 0

.student__container, .teacher__container
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 100%
  min-height: calc(500px - 3rem)
  min-width: 600px
  &::before
    content: ''
    position: absolute
    width: calc(100vw - 2rem)
    height: 1px
    background-color: $font-primary
.student__container
  &::before
    top: 1rem
    left: 2rem
.teacher__container
  &::before
    top: 1rem
    right: 4rem
.student__row
  display: flex
  justify-content: center
  &:first-child > .student__item
    border-top: $outside-border
  &:last-child > .student__item
    border-bottom: $outside-border

.student__item
  display: flex
  justify-content: center
  align-items: center
  padding: 1rem
  width: 120px
  height: 60px
  border: 3px solid $font-secondary
  text-align: center
  &:first-child
    border-left: $outside-border
  &:last-child
    border-right: $outside-border

.footer
  &__container
    display: flex
    margin: 0 auto
    text-align: center
    justify-content: flex-end
  &__link
    color: $font-primary
    text-decoration: none
    border-bottom: 1px solid $font-primary
    cursor: pointer
    margin: 0 2rem
    &:hover  .footer__copy
      color: $font-secondary
  &__copy
    padding: 4px 0