$font-primary: #70beca
$font-secondary: #d29b62
$outside-border: 6px solid $font-secondary
*
  margin: 0
  padding: 0
.wrapper
  font-family: Roboto, sans-serif
  width: 100vw
  height: 100%
  min-height: 100vh
  padding: 1rem
  background-color: #333945
  color: $font-primary
  font-size: 16px
.heading
  color: $font-secondary
  text-align: center
  margin: 1rem auto

.register
  &__container
    display: flex
    flex-direction: column
    align-items: center
    padding: 1rem
  &__label
    display: flex
    align-items: center
    padding: .5rem
  &__span
    display: block
    width: 120px
    padding: 0 1rem 0 0
  &__input
    font-size: 1rem
    padding: .5rem 1rem
    border: 3px solid $font-secondary
    border-radius: .75rem
    background: #333945
    color: $font-primary
    &:focus
      outline: none
  &__btn
    margin: 1rem 2rem

    width: 180px
    height: 60px
    background: #333945
    border: 3px solid #f67670
    color: #fff
    text-align: center
    font-size: 1.2rem
    text-transform: uppercase
    &:focus
      outline: none
      border: 3px solid #ff8484
    &:hover
      border: 3px solid $font-secondary
.btn__container
  display: flex
hr.why
  width: 100%
  border-color: $font-primary
.student__container
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 100%
  min-height: calc(500px - 3rem)
  min-width: 600px
.student__row
  display: flex
  justify-content: center
  &:first-child > .student__item
    border-top: $outside-border
  &:last-child > .student__item
    border-bottom: $outside-border

.student__item
  display: flex
  justify-content: center
  align-items: center
  padding: 1rem
  width: 120px
  height: 60px
  border: 3px solid $font-secondary
  &:first-child
    border-left: $outside-border
  &:last-child
    border-right: $outside-border
